<div class=form-container>
  <form [ngFormModel]="form" (ngSubmit)="submit()" class="form-signin">
      <h2 class="form-signin-heading">Please sign in</h2>
      <span *ngIf="form.errors" class="validation-error">{{form.errors | validation}}</span>

      <input #username="ngForm" ngControl="username" [class.error]="!username.valid && username.dirty" type="text" class="input-block-level" placeholder="username">
      <span *ngIf="!username.valid && username.dirty" class="validation-error">{{username.errors | validation}}</span>

      <input #password="ngForm" ngControl="password" [class.error]="!password.valid && password.dirty" type="password" class="input-block-level" placeholder="password">
      <span *ngIf="!password.valid && password.dirty" class="validation-error">{{password.errors | validation}}</span>

      <button [disabled]="!form.valid || form.pristine" class="btn btn-large btn-primary">Sign in</button>
  </form>
</div>
